<!DOCTYPE html>
<html lang="en">
<head>
  <title>BookStore</title>
</head>
<body>
  <h1>BOOKSTORE DATABASE</h1>
  <h2> Book Count : <%= count %></h2>

  <table border="1" cellpadding="10">
    <thead>
      <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Price</th>
      <th>Genre</th>
    </tr>
    </thead>
    <tbody>
      
        <% books.forEach(book=>{ %>
          <tr></tr>
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td><%= book.price %></td>
          <td><%= book.genre %></td>
          <td>
            <form action="/delete/<%= book.name %>" method="post">
              <button type="submit" onclick="return confirm('Delete <%= book.name%>?')">Delete</button>
            </form>
          </td>
        </tr>
        <%}) %>
    </tbody>
  </table>

  <h2>Add a Book</h2>
  <form action="/add" method="post">
    <input type="text" name="name" placeholder="Book Name" required>
    <input type="text" name="author" placeholder="Book Author" required>
    <input type="number" name="price" placeholder="Book Price" required>
    <input type="text" name="genre" placeholder="Book Genre" required>
    <button type="submit">ADD</button>
  </form>

  <h2>Update a Book</h2>
  <form action="/update" method="post">
    <input type="text" name="name" placeholder="New Book Name" required>
    <input type="text" name="author" placeholder="New Book Author" required>
    <input type="number" name="price" placeholder="New Book Price" required>
    <input type="text" name="genre" placeholder="New Book Genre" required>
    <button type="submit">UPDATE</button>
  </form>
</body>
</html>